*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: -90px;
    margin-left:-700px;
  }
  .hideme {
    opacity: 0;
    z-index: -99999;
  }
  
  label:hover {
  cursor: pointer;
  color: black;
  }
  .showme {
    opacity: 1;
    z-index: 99999;
  }

.current-date{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    margin-top: -300px;
}

.days button{  
    background-color:transparent;
    cursor:pointer;
    border: none;
    height: 40px;
    width: 40px;
}

.days button:hover{
    background: #817d7d ;
    transition: 0.8s;
    border-radius: 18px;
}

.days .inactive:hover{
    color: black;
}

.elements {
    position: fixed;
    background: rgb(255, 189, 127); 
    border-radius:10px;
    width: 109px;
    height: 120px;
    text-align: center;
    margin-left: -1000px;
    padding-bottom: 18px;
}

.dark-mode button{
    position: absolute;
    margin-left: -612px;
    margin-top: -47px;
    cursor: pointer;
    border: medium;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    background-color:rgb(255, 189, 127); 
}

.dark-mode{
    background-color: black;
    color: white;
}

.add-event button{
    position: absolute;
    margin-left: -660px;
    margin-top: -47px;
    cursor: pointer;
    border: medium;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
    background-color:rgb(255, 189, 127); 
}

.time {
    position: fixed;
    background: rgb(0, 189, 127); 
    border-radius:10px;
    width: 109px;
    height: 696px;
    text-align: center;
    padding-bottom: 18px;
}

.hour{
    list-style: none;
}

.hour li{
    background-color:transparent;
    cursor:pointer;
    border: none;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 19.5px;
}

.hour li:hover{
    background-color: #3fc9eb;
}

.cancel{
    position: absolute;
    margin-bottom: -820px;
    margin-left: -780px;
    scale: 120%;
}

.cancel button{
    background-color: white;
    border: none;
    border-radius: 20px;
    visibility:hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:18%;
}   

.newUI{
    margin-top: 100px;
    position: fixed;
    background: rgb(255, 189, 127); 
    border-radius:10px;
    width: 700px;
    height: 696px;  
    text-align: center;
    padding-bottom: 18px;
}

.table{
    margin-top: 260px;
    position: fixed;
    background: rgb(202, 184, 184); 
    border-radius:10px;
    width: 700px;
    text-align: center;
    padding-bottom: 18px;
}

.table ul{
   display: flex;
   list-style: none;
   flex-wrap: wrap;
}

.table li{
    width: calc(100%/7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table button{
    width: calc(100%/7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.semana{
    background-color: #c53131;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px;
}

.days button{ 
    margin-top: 20px;
}

.current-date{
    display: flex;
}

.inactive{
    color: #817d7d;
}

.arrows{
    position: absolute;
    margin-top: -290px;
}

.arrows span{
    text-align: center;
    margin:0px 140px;
    border-radius: 10px;
    scale: 150%;
}

.arrows span:hover{
    background-color: #817d7d;
    transition: 0.8s;
    cursor: pointer;
}

