*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: -50px;
  }
  .hideme {
    opacity: 0;
    z-index: -99999;
  }
  
  label:hover {
  cursor: pointer;
  color: black;
  }
  .showme {
    opacity: 1;
    z-index: 99999;
  }

.current-date{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    margin-top: -300px;
}

.days button{  
    background-color:transparent;
    cursor:pointer;
    border: none;
    height: 40px;
    width: 40px;
}

.days button:hover{
    background: #817d7d ;
    transition: 0.8s;
    border-radius: 18px;
}

.days .inactive:hover{
    color: black;
}

.cancel{
    position: absolute;
    margin-bottom: -570px;
    margin-left: -750px;
    scale: 120%;
    cursor: pointer;
}

.cancel button{
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.newUI{
        margin-top: 50px;
        position: fixed;
        background: rgb(0, 10, 185); 
        border-radius:10px;
        width: 700px;
        height: 350px;
        text-align: center;
        padding-bottom: 18px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:18%;
}   

.table{
    margin-top: 260px;
    position: fixed;
    background: rgb(202, 184, 184); 
    border-radius:10px;
    width: 700px;
    text-align: center;
    padding-bottom: 18px;
}

.table ul{
   display: flex;
   list-style: none;
   flex-wrap: wrap;
}

.table li{
    width: calc(100%/7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table button{
    width: calc(100%/7);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.semana{
    background-color: #c53131;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px;
}

.days button{ 
    margin-top: 20px;
}

.current-date{
    display: flex;
}

.inactive{
    color: #817d7d;
}

.arrows{
    position: absolute;
    margin-top: -290px;
}

.arrows span{
    text-align: center;
    margin:0px 140px;
    border-radius: 10px;
    scale: 150%;
}

.arrows span:hover{
    background-color: #817d7d;
    transition: 0.8s;
    cursor: pointer;
}
