body{
    font-family: Arial;
    font-size: 24px;
    margin:50px;
    background: rgb(52, 103, 150);
    color:#fff;
  }

  div{
    writing-mode:horizontal-lr;
    block-size:35px;
  }


  
  
  .hide {
    display: none;
  }

  .input {
    size: 5px;
    resize: none;
    background-color: darkcyan;
    font: bold;
    color: black;
    row-gap: 0.5;
    height: 100px;
    width: 105px;
  }

/**
 * Time
 */
 .time {
  background-color: rgb(199, 185, 176);
  display: flex;
  align-items: center;
  border-top: thin dashed #ccc;
  height: 100%;
  padding: 0 0.8rem;
  font-size: 1.5rem;
    
  }

  .time button {
    font-size: 1.1rem;
  margin: 0.3rem;
  width: 42px;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  background-color: rgb(199, 185, 176);
  color: white;
  border: none;
  }

  .time button:hover {
    background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
  }

  .event {
    font-size: 0.7rem;
  margin: 0.3rem;
  width: 200px;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  background-color: rgb(255, 98, 0);
  color: white;
  border: none;
  }

  