/* The popup form - hidden by default */
.form-popup {
	position: absolute;
    top: 0;
	right: 0;
    margin-top: 100px;
	z-index: 9;
}

.meeting-info {
	color: #d4d4dd;
	padding-bottom: 10px;
}

#close {
    float:right;
    display:inline-block;
    padding:5px;
    background:#ccc;
}

/* Add styles to the form container */
.form-container {
	max-width: 500px;
	padding: 10px;
	background-color: #9494ab;
    border-radius: 20px;
}

/* Full-width input fields */
.form-container input[type=date], .form-container input[type=number],
.form-container select, .form-container[type=checkbox] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #686dc5;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}